.carousel-item img{
    height: 600px;
}
.carousel-item{
    height: 600px;
} 

.fit-image{
    width: 100%;
    object-fit: cover;
    height: 100%; /* only if you want fixed height */
    }
    .geeks { 
        overflow: hidden; 
        margin: 0 auto; 
        position: relative;
    } 
  
    .geeks img { 
        width: 100%; 
        transition: 0.5s all ease-in-out; 
    } 
  
    .geeks:hover img  { 
        transform: scale(1.5); 
    } 

    
      html {
        scroll-behavior: smooth;
      }